name: Visit note.com

on:
  workflow_dispatch:
  schedule:
    - cron: '*/3 * * * *'

jobs:
  check-date:
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.check.outputs.should_run }}
    steps:
      - id: check
        run: |
          NOW=$(TZ=Asia/Tokyo date +%s)
          END=$(TZ=Asia/Tokyo date -d "2026-02-08 00:00:00" +%s)
          if [ $NOW -lt $END ]; then
            echo "should_run=true" >> $GITHUB_OUTPUT
          else
            echo "should_run=false" >> $GITHUB_OUTPUT
          fi

  visit-kancho:
    needs: check-date
    if: needs.check-date.outputs.should_run == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        device: [1,2,3,4,5]
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm init -y > /dev/null 2>&1
          npm install playwright > /dev/null 2>&1
          npx playwright install chromium > /dev/null 2>&1
          DEVICE_IDX=$(( ${{ matrix.device }} - 1 )) NOTE_KEY=nc9282c02f880 NOTE_ID=133143282 node visit.js

  visit-cafe:
    needs: check-date
    if: needs.check-date.outputs.should_run == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        device: [1,2,3,4]
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm init -y > /dev/null 2>&1
          npm install playwright > /dev/null 2>&1
          npx playwright install chromium > /dev/null 2>&1
          DEVICE_IDX=$(( ${{ matrix.device }} + 4 )) NOTE_KEY=n708d5812b976 NOTE_ID=138454453 node visit.js

  visit-fuyu:
    needs: check-date
    if: needs.check-date.outputs.should_run == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        device: [1,2,3,4]
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm init -y > /dev/null 2>&1
          npm install playwright > /dev/null 2>&1
          npx playwright install chromium > /dev/null 2>&1
          DEVICE_IDX=$(( ${{ matrix.device }} + 8 )) NOTE_KEY=n939384d205b5 NOTE_ID=139795352 node visit.js

  visit-tenji:
    needs: check-date
    if: needs.check-date.outputs.should_run == 'true'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        device: [1,2,3]
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm init -y > /dev/null 2>&1
          npm install playwright > /dev/null 2>&1
          npx playwright install chromium > /dev/null 2>&1
          DEVICE_IDX=$(( ${{ matrix.device }} + 12 )) NOTE_KEY=n81d639277d5e NOTE_ID=136630891 node visit.js
